NEXT_PUBLIC_SUPABASE_URL=https://qfkrutspeneekyskphpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rFwDdMUGXVG-Vm0a3SE4rg_hnrZihjE
NEXT_PUBLIC_NASA_FIRMS_API_KEY=your_nasa_firms_key_here
NEXT_PUBLIC_APP_NAME=BANTAY
